### Importowanie bibliotek

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Utworzenie zbioru testowego i treningowego

In [3]:
df = pd.read_csv("iris.csv")
(train_set, test_set) = train_test_split(df.values, train_size=0.7, random_state=274967)

### Funkcja klasyfikująca irysa

In [4]:
def classify_iris(sl, sw, pl, pw):
    if pl > 1 and pl < 2:
        return "setosa"
    if pl > 5 and pl < 7:
        return "virginica"
    else:
        return "versicolor"

### Sprawdzam dokładność

In [5]:
good_predictions = 0
len = test_set.shape[0]
for i in range(len):
    sl, sw, pl, pw, nazwa = test_set[i]
    if classify_iris(float(sl), float(sw), float(pl), float(pw)) == test_set[i][4]:
        good_predictions = good_predictions + 1
print(good_predictions)
print(good_predictions/len*100, "%")

43
95.55555555555556 %

In [6]:
pd.DataFrame({
    "sepal.length": df["sepal.length"],
    "sepal.width": df["sepal.width"],
    "petal.length": df["petal.length"],
    "petal.width": df["petal.width"],
    "species": df["species"]
}).sort_values(by=["species"])

     sepal.length  sepal.width  petal.length  petal.width    species
0             5.1          3.5           1.4          0.2     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
30            4.8          3.1           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]